#ext_menu-0 .navbar-toggler {
  color: #000;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-3 .navbar-toggler {
  color: #000;
}
#msg-box4-6 .lead P {
  text-align: left;
}
